<IfModule authz_core_module>
    Require all denied
    RewriteRule ^(images)(.*)/$ 404 [L] #deny images listing because we have allowed access to images below
RewriteRule ^(images)/(.*) $1/$2 [L]
</IfModule>
<IfModule !authz_core_module>
    Deny from all
    
</IfModule>

